:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second--text-color: #2196f3;
  --third--text--color: rgba(255, 255, 255, 0.6);
  --fourth-text-color: #212121;
  --font-color: #e5e5e5;
  --six-color: #2196f3;
  --first-background-color: #2f303a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Roboto", "open suns";
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*----------------------------------Фокус/Ховер-----------------------------------*/
.pres:focus {
  color: var(--six-color);
}

.drc:hover {
  color: var(--six-color);
}
/*-----------------------------------Header/Хедер--------------------------------*/
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.Contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third--text--color);
}

.header-list {
  display: flex;
}

.header-contact-list {
  display: flex;
}

.address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.web {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
}

.studio {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  margin-right: 50px;
  margin-right: ;
}

.nav-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.nav-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-box-right {
  margin-left: auto;
}

.header-right {
  margin-left: 50px;
}

/*-----------------------------------------------Hero------------------------------------*/
.hero {
  background-color: var(--first-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-bottom: 50px;
}

.hero-button {
  display: flex;
  font-size: 16px;
  line-height: 1.87;
  background-color: #2196f3;
  cursor: pointer;
  color: var(--main-title-color);
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  margin: 0 auto;
  display: block;
  border-style: none;
}

.hero.hero-button:focus,
.hero.hero-button:hover,
.hero.hero-button:active {
  color: #ffffff;
  background-color: ;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*-------------------------------------------------ЧТО МЫ ДЕЛАЕМ--------------------------------------------*/
.description {
  padding-top: 94px;
  padding-bottom: 94px;
}

.description-list {
  display: flex;
  justify-content: space-between;
}

.description-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--fourth-text-color);
}

.description-text {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  color: var(--main-text-color);
}
/*------------------------------------------------Чем мы занимаемся--------------------------------------*/

.procces {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
  margin-bottom: 94px;
}

.photo-link {
  display: flex;
}

.work-photo:not(:last-child) {
  margin-right: 30px;
}
/*---------------------------------------------------Наша команда---------------------------------------------*/
.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  border-radius: 4px;
  color: var(--fourth-text-color);
}

.team-card {
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-team {
  display: flex;
  flex-wrap: wrap;
}

.about-team:not(:last-child) {
  margin-right: 30px;
  display: flex;
}

.name-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 30px 0 10px 0;
  text-align: center;
  color: var(--second-title-color);
}
.position {
  font-weight: 130px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 0;
  margin: 0;
  color: var(--main-text-color);
}

/*---------------------------------------------Футер-----------------------------------------------*/
.footer {
  background-color: var(--first-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list:not(:last-child) {
  margin-bottom: 8px;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
}
.footer-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--third--text--color);
}

.footer-phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--third--text--color);
}

.web-footer {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-bottom: 20px;
  display: flex;
}

.footer-studio {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #ffffff;
}

/*-----------------------------------------------------Portfolio----------------------------------------------------*/

/*---------------------------------------Filter Buttons-----------------------------*/

.filter-btn {
  background-color: whitesmoke;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--second-title-color);
  padding: 6px 22px 6px 22px;
  border-style: none;
}

.filter-btn:hover {
  color: var(--main-title-color);
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--second-title-color);
}

/*--------------------------------------Progect-------------------------------------*/
.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-item:not(:nth-child(3n + 1)) {
  margin-left: 30px;
}

.portfolio-item:nth-last-child(-n + 3) {
}

.portfolio-link {
  display: block;
  text-decoration: none;
  color: var(--main-text);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-card {
  padding-top: 20px;
  padding-bottom: 20px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 30px;
}

.portfolio-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  margin: 0;
}

.portfolio-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin: 0;
}
