:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second--text-color: #2196f3;
  --third--text--color: rgba(255, 255, 255, 0.6);
  --fourth-text-color: #212121;
  --font-color: #e5e5e5;
  --six-color: #2196f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Roboto", "open suns";
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

/*----------------------------------Фокус/Ховер-----------------------------------*/
.pres:focus {
  color: var(--six-color);
}

.drc:hover {
  color: var(--six-color);
}
/*-----------------------------------Header/Хедер--------------------------------*/
.header {
  background-color: #ffffff;
  height: 80px;
  display: flex;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*---------Левая колонка Хедера-------*/
.header-navigation {
  align-items: center;
  display: flex;
}

.header-list {
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-connect {
  margin-left: auto;
  display: flex;
}

.header-item {
  margin-left: 50px;
}

.nav-phone {
  margin-left: 50px;
}

.Contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third--text--color);
}

.address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.web {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.studio {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

/*---------------------------------Navigation/Навигация---------------------------*/
.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.nav-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.nav-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
/*-----------------------------------------------Hero------------------------------------*/
.hero {
  background-color: #2f303a;
  height: 600px;
  display: flex;
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
  color: var(--main-title-color);
  text-transform: uppercase;

   padding-top: 213px;
}

.hero-button {
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  align-items: center;
  background-color: #2196f3;
  cursor: pointer;
  color: var(--main-title-color);
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;

  margin: 45px 485px 0px 485px;
}

}
/*-------------------------------------------------description/ЧТО МЫ ДЕЛАЕМ--------------------------------------------*/
.description {
padding-top: 94px;
}

.description-item {
}

.description-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--fourth-text-color);
}

.description-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
/*------------------------------------------------Чем мы занимаемся--------------------------------------*/
.description{

} 

.procces {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
}

/*---------------------------------------------------Наша команда---------------------------------------------*/
.team {
}

.list-team {
}

.our-team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--fourth-text-color);
}

.name-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.position {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
/*---------------------------------------------Футер-----------------------------------------------*/
.footer {
  background-color: #2f303a;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
}
.footer-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--third--text--color);
}

.footer-phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--third--text--color);
}

.web-footer {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-studio {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #ffffff;
}

/*----------------------------------------------------------------------------Portfolio----------------------------------------------------*/
.header-portfolio {
  color: #ffffff;
}

/*---------------------------------------Buttons-----------------------------*/
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: var(--second-title-color);
}

/*--------------------------------------First Progect-------------------------------------*/

.first-title {
  font-style: 700;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--second-title-color);
}

.first-heading {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--secon-text-color);
}

/*-------------------------------------Footer-------------------------------------------*/
.footer {
  background-color: #2f303a;
}

.footer-address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
}
